!!! 5
html
  head
    //if IE
      script
        alert('Your version of Internet Explorer is out-of-date and or buggy. Please use Chrome or Firefox to use this site.')
    link(rel='stylesheet',href='style.css')
    link(href='http://fonts.googleapis.com/css?family=Rammetto+One',rel='stylesheet',type='text/css')
    script(src='pakmanaged.js')
  body
    img#beta-banner(src='images/beta.png')
    #content

      ul#main-tabs.tabs
        li.tab.index.drop
          a(href='#/drop')
            span.button.black Dropb.in
        li.tab.howitworks
          a(href='#/howitworks')
            span.button.green How it Works
        li.tab.pricing
          a(href='#/pricing')
            span.button.green Pricing
        //-
          li
            a(href='#/about')
              span.button.green About
        li.tab.api
          a(href='#/api')
            span.button.green API

      #app
        #drop.uiview.drop.index
          #drop-container
            header Drop
            #dropzone.tall.file-zone.area.interactive
              //- http://www.softicons.com/free-icons/web-icons/design-cartons-icons-by-sneh-roy/box-drag-and-drop-icon
              img#drop-action-image(src='images/drag-n-drop-box.png',alt='Drag & Drop Files from your Desktop')
              //- TODO find out why this is laggy when placed outside of #dropzone
              form#upload.upload
                //- webkitdirectory allows ONLY directories
                //- input#filechooser.filechooser(name='file',type='file',multiple='multiple')
            #uploadzone.short.file-zone.area.interactive
              button#upload.button.gray Open File Browser
              form.upload
                //- input.filechooser(name='file',type='file',multiple='multiple')
          #share-container
            header Share
            .short.area.interactive
              //- http://www.iconseeker.com/search/SHARE/2
              //-img(src='images/share-with-friends.png',style='width: 48px; display: inline;')
              span.draw-attention Copy and Share these:
            .tall.area.interactive
              #no-links
                | As you select files to share, the links will appear here.
              //- TODO http://www.nikesh.me/demo/loading.html
              //- http://jimpunk.net/Loading/?page_id=9
              //-img#loading-large(src='images/loading-large.gif')
              //- http://new.rogers.com/web/resources/images/wireless/loading.gif
              //- http://images.wordpressapi.com/loading.gif
              ul#uploadlist.tabs
                li.tab.file-info
                  span.id TPL-TOKEN
                  span.name TPL-NAME
                  a(href='#/share/TPL-TOKEN') domain.tld/#/share/TPL-TOKEN
                  span.remove-file X
                  progress
                    span.val 0
                    span.div /
                    span.max 0
          .clear
          #delete-notice Files are deleted after 3 days.

        #share.uiview.share
          header.section Your file, Sir!
          | (or Ma'am)
          br
          //- must use full url
          a.dnd(href='#didnt-work',draggable='true',data-downloadurl='application/octet-stream:index.jade:http://localhost:3700/index.jade')
            img(src='images/harddrive-download.png')
          br
          | Drag to your Desktop to Download
          br
          | (or click the old-fashioned way)

        //-
          #about.uiview.about
            header.section About
            | Basically ge.tt and min.us were taking too long
            | coming up with an API, so we built it ourselves.
            br
            | As an extra perk, Dropbin can be installed on
            | private servers.

        #api.uiview.api
          //- TODO this should be an include with a markdown filter
          header.section API
          | WARNING: API is still subject to change

          h3 Overview
          ol
            li submit meta data (name, path, mime-type, size, user fields)
            li receive file ids (base64 ids)
            li upload files by id (ids must match)
            li retrieve meta data by id (/meta/${id})
              br
              | (this is useful for naming the file and showing progress)
            li retrieve file by id (/files/${id}/${name})
            li delete files or they will be deleted automatically
              | after 72 hours
          br
          | NOTE: if files are submitted with http auth
          | then they will require that auth to retrieve

          h3 CREATE meta data to retrieve ids
          pre
            code
              # request
              curl dropb.in/meta/new \
                -X POST -H 'application/json' \
                -d '[
                        {
                            "name": "logo.png"
                          , "path": "/home/user/images/"
                          , "type": "image/png"
                          , "size": 1048
                          , "lastModifiedDate": "2011-09-20T16:16:48.000Z"
                        }
                      , {
                            "name": "anthem.m4a"
                          , "path": "/home/user/music/"
                          , "type": "audio/mp4"
                          , "size": 4440
                          , "lastModifiedDate": "2011-11-12T03:38:08.000Z"
                        }
                    ]'

              # response
              {
                  "error": false
                , "errors": []
                , "result": [
                      "xyz123"
                    , "abc789"
                  ]
              }

          h3 CREATE files
          pre
            code
              # request
              curl dropb.in/files/new \
                -X POST \
                --form xyz123=@/home/user/images/logo.png \
                --form abc789=@/home/user/music/anthem.m4a

              # response
              {
                  "error": false
                , "errors": []
                , "result": [
                      {
                          "id": xyz123
                        , "size": 1048
                        , ...
                      }
                    , ...
                  ]
              }

          h3 GET meta
          | You'll either get back meta data or an error
          pre
            code
              curl dropb.in/meta/xyz123

          h3 GET file
          | You'll either get back the file or an error
          pre
            code
              curl dropb.in/files/xyz123/any-name-you-like.any

        #pricing.uiview.pricing
          header.section Pricing
          | Contact for a consultation on these options
          ul
            li Full remote installation support
            li Dedicated cloud appliance
            li Physical appliance
            li DIY installation (see Github)

        #howitworks.uiview.howitworks
          header.section How It Works
          | Node.JS on the backend. Awesomeness on the frontend
          br
          | Many thanks to:
          ul
            li
              a(href='http://subtlepatterns.com/?paged=3')
                | Subtle Patterns
            li
              a(herf='http://webdesignerwall.com/tutorials/css3-gradient-buttons')
                | WebDesignerWall: CSS Buttons
          | 'Nuff said.

        #legalese.uiview.legalese
          header Legalese
          | This is for personal / private use. Don't share copyrighted material. Duh.
          br
          | Don't abuse the service.

        #contact.uiview.contact
          header.section Contact
          ul
            li AJ ONeal &lt;coolaj86@gmail.com&gt; (http://coolaj86.info)
            li Jamison Dance &lt;jergason&gt; (http://jamisondance.com)

        br

      ul#foot-tabs.tabs
        li.tab.contact
          a.button.small.white(href='#/contact') Contact
        li
          a.button.small.gray(href='http://github.com/coolaj86/dropshare',target='_blank') fork on Github
        li.tab.legalese
          a.button.small.white(href='#/legalese') Legalese

      footer
        | Copyright 2011 Dropshare
