#dropzone {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: yellow;
  padding: 20px;
  border: 2px dashed red;
  border-radius: 5px;
  cursor: pointer;
}

#draggable {
  width: 20px;
  height: 20px;
  margin: 20px;
  background-color: #fce;
  padding: 20px;
  border: 2px dashed #efc;
  border-radius: 5px;
  cursor: move;
}

  /* 
    This snippet was stolen from min.us 
    It looks like it gets the cursor icon to be
    styleable in firefox
  */
#filechooser {
  position: absolute;
  opacity: 0.3;
  /*
  top: -1000px;
  left: -1000px;
  */
  z-index: 1000000;
  margin: -10px 0pt 0pt -179px;
  height: 30px;
  margin: -10px 0pt 0pt -179px;
  cursor: pointer;
}
